*{
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}

.box {
    width: 321px;
    height: 491px;
    border: 4px solid #65856E;
    background: rgba(217, 217, 217, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.box h3 {
    padding: 4px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.box p {
    width: 245px;
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.box_top{
    width: 100px;
    height: 100px;
    border: 4px solid #65856E;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -55px;
}

.box_left_right{
    width: 321px;
    height: 491px;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.box_top_left_right{
    width: 100px;
    height: 100px;
    border: 4px solid #554C4C;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -55px;
}

.box_left_right h3 {
    padding: 4px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.box_left_right p {
    width: 245px;
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}