body{
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #ffdbc3;
}
.Rubik_Pixels {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
}

.Sedgwick_Ave_Display {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
}

.Dancing_Script {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
}

.Fjalla_One {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
}

.Indie_Flower {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
}