body{
    margin: 0;
}
.wrapper{
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f3bbbb;
}

.block{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}

.block:hover{
    background-color: grey;
    border-radius: 50%;
    transition: 2s;
}
