.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

.wrapper img {
    width: 340px;
    height: 340px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: black solid 2px;
    border-radius: 10%;
    background-color: rgba(76, 75, 75, 0.27);
}

.footer {
    text-align: center;
}


