*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #028a8a;
}
/*---------------------------------------------*/
.main{
    width: 30%;
}
/*---------------------------------------------*/
.box_top{
    font-size: 40px;
    font-family: sans-serif;
    background-color: #e7f1f1;
    border-radius: 10px 10px 0 0;
    text-align: center;
    padding: 50px;
}

/*---------------------------------------------*/
.form-registration {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background-color: #fdfdfd;
    border-radius: 0 0 10px 10px;
}

.form-registration>input{
    width: 70%;
    height: 15%;
    margin: 15px 0;
}

/*---------------------------------------------*/
.box_footer {
    width: 70%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.box_footer>label{
    font-size: 20px;
}

.button {
    width: 25%;
    height: 65%;
    border-radius: 10px;
    background-color: #e7f1f1;
}

/*---------------------------------------------*/
input[type="text"]::placeholder{
    font-size: 16px;
}
input[type="password"]::placeholder{
    font-size: 16px;
}