* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    border: none;
    box-sizing: border-box;
}

/*-------------------------------------------------------------------*/
header {
    width: 100%;
    height: 113px;
    background: #24204A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
    top: 0;
}

.header_box {
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_box ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63px;
    list-style-type: none;
}
nav a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}
header h2 {
    color: #E5E5E5;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
}
/*-------------------------------------------------------------------*/
.section_one {
    height: 692px;
    background-color: #24204A;
    padding: 180px 0 101px 0;
}

.section_one_w1153 {
    width: 1153px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.section_one_w1153 div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}

.button_top {
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    color:  #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}

.section_one h1 {
    width: 261px;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.8px;
}

.section_one p {
    width: 570px;
    height: 85px;
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.8px;
}

.button_down {
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.section_one_w1153 div:nth-child(2) {
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
}

/*-------------------------------------------------------------------*/

.section_two {
    height: 764px;
    background: #071341;
    padding: 50px 0 152px 0;
}

.section_two_w1153 {
    width: 1153px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.image div:nth-child(1) {
    border-radius: 8px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image:nth-child(1) div:nth-child(1) {
    background: #FF6853;
}
.image:nth-child(2) div:nth-child(1) {
    background: #FF537C;
}
.image:nth-child(3) div:nth-child(1) {
    background: #80D2C4;
}
.image:nth-child(4) div:nth-child(1) {
    background: #3F50E7;
}
.image:nth-child(5) div:nth-child(1) {
    background: #95CB7C;
}

.image div:nth-child(2) h3 {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.image div:nth-child(2) p {
    color:  #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.8px;
}

.section_two_w1153>h2 {
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.section_two_w1153>p {
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.8px;
    margin-bottom: 50px;
}


.box_border_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box_border_card {
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}

.box_border_card p{
    width: 178px;
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}

/*-------------------------------------------------------------------*/

/*.Map {*/
/*    width: 100%;*/
/*    height: 664px;*/
/*    background-image: url('img/Map.png');*/
/*}*/

iframe{
    width: 100%;
    height: 664px;
    display: block;
}

/*-------------------------------------------------------------------*/
footer{
    width: 100%;
    height: 94px;
    background: #071341;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 200%;
}