* {
    margin: 0;
}

.grid-wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
    grid-area: header;
    background: #D9D9D9;
}

main {
    grid-area: main;
    background: #A4A4A4;
}

footer {
    grid-area: footer;
    background: #D9D9D9;
}