* {
    margin: 0;
}

.box_wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 5fr 4fr 0.8fr 1fr;
    grid-template-areas:
    "header header"
    "main aside_top"
    "main aside_down"
    "some_info some_info"
    "footer footer";
}

header {
    background: #D9D9D9;
    grid-area: header;
}

main{
    background: #A4A4A4;
    grid-area: main;
}

.aside_top{
    background: #7F7A7A;
    grid-area: aside_top;
}

.aside_down{
    background: #615050;
    grid-area: aside_down;
}

.some_info{
    background: #D9D9D9;
    grid-area: some_info;
}

footer{
    background: #AFA9A9;
    grid-area: footer;
}