@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 48px;
    gap: 32px;
}

.item_box {
    width: 271px;
}

.item_box h3{
    color: #161543;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    padding: 20px 0 10px 0;
}

.item_box p{
    color: #7687A1;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}