body {
    margin: 0;
    background-color: #14390f;
}

.main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.block_container{
    width: 250px;
    height: 240px;
    padding: 10px;
    background-color: rgba(243, 255, 224, 0.81);
    border-radius: 5px;
    transition: 1s;
}

.block_container:hover{
    width: 270px;
    height: 270px;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: 18px;
}

