*{
    margin: 0;
    font-family: "Inter", sans-serif;
}

.box_wrapper{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "header header"
    "Content1 spam1"
    "Content2 spam1"
    "Content2 spam2"
    "Content3 spam2"
    "footer footer";
}

header, .Content1, .Content2, .Content3, .spam1, .spam2, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    color: #000;
    font-size: 45px;
    font-weight: 400;
    background: #8D8484;
    grid-area: header;
}

.Content1{
    grid-area: Content1;
    background: #776969;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
}

.Content2{
    grid-area: Content2;
    background: #643030;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
}

.Content3{
    grid-area: Content3;
    background: #441818;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
}

.spam1{
    grid-area: spam1;
    background: #937575;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
}

.spam2{
    grid-area: spam2;
    background: #644C4C;
    color: #FFF;
    font-size: 45px;
    font-weight: 400;
}

footer{
    grid-area: footer;
    background: #BDBDBD;
    color: #000;
    font-size: 45px;
    font-weight: 400;
}