*{
    margin: 0;
}

.grid-wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
    "header header header"
    "left_box main right_box"
    "footer footer footer";
}

header{
    grid-area: header;
    background: #D9D9D9;
}

.left_box {
    grid-area: left_box;
    background: #C0BDBD;
}

main{
    grid-area: main;
    background: #A4A4A4;
}

.right_box{
    grid-area: right_box;
    background: #C0BDBD;
}

footer{
    grid-area: footer;
    background: #D9D9D9;
}