*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*------------------------------------------------------------*/
.form_wrapper{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid #dadada;
}
/*------------------------------------------------------------*/
.form_wrapper>img{
    width: 60%;
    margin: 30px 0;
}
/*------------------------------------------------------------*/

.form_wrapper input{
    width: 85%;
    height: 70px;
    margin-bottom: 20px;
    border: 1px solid #757575;
    border-radius: 5px;
}
/*------------------------------------------------------------*/
.button{
    width: 85%;
    margin-bottom: 20px;
}

.button input{
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #67b4f8;
    color: white;
    border: none;
}

/*------------------------------------------------------------*/
.ABO{
    color: #727272;
    margin-bottom: 5%;
}

/*------------------------------------------------------------*/
.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.facebook>img{
    width: 5%;
}

.facebook h4 a{
    color: #375084;
    font-size: 25px;
    text-decoration: none;
}
/*------------------------------------------------------------*/
.facebook-pass{
    font-size: 20px;
    margin: 40px 0 30px 0;
}

.facebook-pass a{
    text-decoration: none;
    color: #03396c;
}

/*------------------------------------------------------------*/
.footer{
    width: 35%;
    height: 10%;
    margin-top: 20px;
    border: 4px solid #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer label{
    font-size: 20px;
}

.footer a{
    text-decoration: none;
    color: #0094f4;
 }

/*-------------------------------------------------------------*/
input[type="text"]::placeholder{
    font-size: 25px;
}

input[type="password"]::placeholder{
    font-size: 25px;
}